*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: red;
    --dk-grey: #333;
    --max-width: 960px;
    --spacing: 4rem;
    --img-width: 350px;
}




body {
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: var(--primary);
}
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
h1 {
    margin-bottom: 2rem;
    font-size: clamp(3rem, 5vw, 200rem);
    font-weight: bold;
    line-height: 1.4em;
}
.button {
    display: inline-block;
    width: max-content;

    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
   
}

.button:hover {
    color:  var(--button-hover-color);
    background-color: var(--button-color);
   transition: all 0.3s ease-in-out;

}
.header-link::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .75rem solid var(--primary);
}

.header-link:hover::after {
    border-top-color: white;
    transition: all 0.3s ease-in-out;
}
.header-link {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.about {
    position: relative;
    margin-bottom: 100px;
}
.about::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid var(--primary);
    border-right: 100vw solid transparent;
}


section {
    padding:var(--spacing);
    /* color: white;
    background-color: var(--primary); */
}

.neutral-theme {
    background-color: white;
    --button-color: var(--primary);
    --button-hover-color: white;

}

.primary-theme {
    color: white;
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);

}

/* --- place under h1 --- */

h2 {
    margin-bottom:var(--spacing);
    text-align: center;
    font-size: clamp(3rem, 5vw, 200rem);
    font-weight: bold;
    text-transform: uppercase;
}
.about-container {
    max-width: 960px;
    margin: 0 auto;
}

.about-img {
    display: block;
    width: 100%;
    max-width: 350px;
    padding-right: 1rem;
    margin: 0 auto var(--spacing);
     filter: grayscale(100%);
}

.about-img:hover {
    filter: grayscale(0);
}

p {
    margin-bottom: 1em;
    line-height: 1.4em;
}
blockquote {
    margin-top: var(--spacing); 
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
}
h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.article-img {
    margin-bottom: 2rem;
}

article {
    display: flex;
    flex-direction: column-reverse;
}

.contact {
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.contact::before {
    content: "";
    position: absolute;
    right: 0;
    top: -100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}

footer {
    padding: var(--spacing);
    text-align: center;
    background-color: #333;
    color: white;
}
.social {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing);
}

.social-item {
    margin: 0 2rem;
    list-style-type: none;
}
.social-link {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 0px;
    background: no-repeat;
    background-size: 60px;
    color: #fff;
}
.social-link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.linkedin {
    background-image: url(icons8-linkedin.svg);
}

.twitter {
    background-image: url(icons8-twitter.svg);
}

.github {
    background-image: url(icons8-github.svg);
}

.youtube {
    background-image: url(icons8-youtube.svg);
}





@media (min-width: 800px) {
    .about-container {
        display: flex;
    }
    .about-text {
        margin-left: var(--spacing);
    }
    article {
        flex-direction: row;
        max-width: 960px;
        margin: 0 auto var(--spacing);
    }

    .article-img {
        margin-left: 2rem;
        max-width: 350px;
        object-fit: cover;
    }
    
    






}
